.change__language {
  position: relative;
  top: -3px;
}
@media screen and (max-width: 767px) {
  .burger__menu.active ~ .change__language {
    display: flex;
    align-items: center;
    z-index: 2;
  }
  .change__language {
    display: none;
    position: absolute;
    height: 80px;
    left: 30px;
    top: 0;
  }
}
.label__lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 20px;
  font-size: 12px;
  font-weight: 700;
  img {
    width: 20px;
    height: 20px;
    margin-left: 6px;
  }
}

@media screen and (max-width: 991px) {
  .label__lang {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
    font-weight: 700;
    img {
      width: 15px;
      height: 15px;
      margin-left: 4px;
    }
  }
}
:where(.css-dev-only-do-not-override-10ed4xt).ant-select-single:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  padding: 0 7px;
  width: 94%;
  height: 35px;
  position: relative;
  top: 1px;
}

:where(
    .css-dev-only-do-not-override-10ed4xt
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-item,
:where(
    .css-dev-only-do-not-override-10ed4xt
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-placeholder {
  display: flex;
}
@media screen and (max-width: 991px) {
  :where(.css-dev-only-do-not-override-10ed4xt).ant-select-single:not(
      .ant-select-customize-input
    )
    .ant-select-selector {
    padding: 0 7px;
    width: 94%;
    height: 26.33px;
    position: relative;
    top: 1px;
  }
}

@media screen and (max-width: 767px) {
  :where(.css-dev-only-do-not-override-10ed4xt).ant-select-single:not(
      .ant-select-customize-input
    )
    .ant-select-selector {
    padding: 0 7px;
    height: 35px;
  }
}
