@import url("./fonts/fonts.css");

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

:root {
  --color-default: #fff;

  --font-family-default: "Roboto-Regular", sans-serif;
  --font-family-secondary: "Raleway-Regular", sans-serif;
  --font-family-armenian: "Noto Sans Armenian", sans-serif;
}

body {
  color: var(--color-default);
  font-family: Roboto-Regular, sans-serif;
  min-height: 100vh;
  width: 100%;

  /* https://thedispatch.blob.core.windows.net/thedispatchimages/2022/04/1913623.jpeg */
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: url("./img/bg.jpg");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

main {
  flex: 1 1 auto;
  padding-top: 80px;
}

@media screen and (max-width: 479px) {
  main {
    padding-top: 30px;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #d4d4d4;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    360deg,
    rgb(190 205 159) 24%,
    rgb(17 66 30) 51%,
    rgb(4 40 26) 77%,
    rgb(24 74 31) 94%
  );

  border-radius: 8px;
  transition: all 0.3s;
}

@media screen and (max-width: 767px) {
  ::-webkit-scrollbar {
    width: 4px;
  }
}
