.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
  background: rgba(0, 0, 0, 0.9);
  /* background: rgb(2, 41, 0);
  background: linear-gradient(
    90deg,
    rgba(2, 41, 0, 1) 0%,
    rgba(24, 153, 123, 1) 41%,
    rgba(12, 177, 170, 1) 59%,
    rgba(0, 50, 2, 1) 84%
  ); */
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100px;
    .header__logo {
      display: block;
      width: 195px;
      img {
        position: relative;
        top: 5px;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      span {
        font-size: 30px;
        font-weight: 800;
        letter-spacing: 1.1px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .header {
    .header__wrapper {
      .header__logo {
        width: 170px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    height: 80px;
    .header__wrapper {
      height: 80px;
    }
  }
}
