.rh5v-Overlay_component {
  z-index: -1;
}

video {
  width: 100% !important;
  height: 99.8vh !important;
  object-fit: cover !important;
}

button {
  position: absolute;
  right: 30px;
  bottom: 30px;
  transform: translate(-30px, -30px) perspective(500px);
  padding: 10px 30px;
  border-radius: 25px;
  letter-spacing: 1px;
  text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
  background: linear-gradient(90deg, #4fcd60, #184025);
  color: var(--color-default);
  z-index: 10000000;
  transition: all 0.5s;
  overflow: hidden;

  &:hover {
    transform: translate(-30px, -30px) perspective(500px);
    text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #fff, transparent);
    transition: 0.5s;
  }
  &:hover:before {
    left: 100%;
  }
}

/* button.active {
  left: 50%;
  right: auto;
  top: 50%;
  bottom: auto;
} */
